/******************************************/
             /* Main Page */
/*****************************************/

/*******************/
/* header settings */
/*******************/

#header-wrapper
{
  font-family: 'Archivo', sans-serif;
}
#name-bar ul
{
  padding-right: 30px;
}
#name-bar li a
{
  display: block;
  text-align: right;
  text-decoration: none;
  letter-spacing: 2px;
  color: black;
  font-size: 23px;
}
/*
.txt-rotate{
  position: relative;
  font-family: 'Archivo', sans-serif;
  font-size: 15px;
  margin-left: 180px;
}*/
#nav-bar mark
{
  color: white;
  background-color: black;
}
#navbar ul
{
  margin: 0;
  padding: 0;
}
#nav-bar li a
{
  display: block;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  padding-bottom: 15px;
  color: black;
  font-size: 20px;
}
li
{
  list-style-type: none;
}

/****************/
/* line divider */
/****************/

.line1 {
  border-left: 2px solid black;
  height: 280px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 50px;
}

/*****************/
/* grid settings */
/*****************/

#studio-wrapper
{
  padding-top: 120px;
}
section {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}
.column {
  margin: 5px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

/* OTHER STYLES */
html, body {
  height: 100%;
  box-sizing: border-box;
}
body {
  padding: 10px;
}
.column {
  padding: 10px 0;
  text-align: center;
  /*border: 1px solid black;*/
}

/**********************/
/* more grid settings */
/**********************/

#hello-text
{
  font-size: 20vw;
  font-family: 'Ramabhadra', sans-serif;
  line-height: 90%;
}
#introduction-text
{
  font-size: 4vw;
  font-family: 'Ramabhadra', sans-serif;
  line-height: 150%;
}
#contact-form-text
{
  font-size: 2vw;
  font-family: 'Archivo', sans-serif;
  text-align: left;
  line-height: 150%;
}
.column mark
{
  background-color: transparent;
}
.column:hover mark
{
  color: white;
  background-color: black;
}

/*************************/
/* contact form settings */
/*************************/

#contactForm {
  margin: 0 auto;
}
 #contactForm input, textarea {
  letter-spacing: 2px;
  font: 200 1em/1.1em;
  font-family: 'Archivo', sans-serif;
  background-color: #F0F0F0;
  outline: none; border: none;
  display:block;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
  max-width: 400px;
}
#formInput
{
  width: 90%;
  max-width: 400px;
}
#contactForm textarea {
  height: 150px;
}
#contactForm *:focus {
  color: white;
  background-color: black;
}
#contactForm *:hover {
  color: white;
  background-color: black;
}
::-webkit-input-placeholder {
  color: black;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
}
::-moz-placeholder {  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  color: black;
}

/***************/
/* page footer */
/***************/

#social-media-links
{
  float: right;
  padding-top: 150px;
  padding-bottom: 80px;
}
#social-media-links img
{
  width: 3%;
  padding-right: 20px;
}
